<!-- <app-navbar></app-navbar> -->
<!-- <app-post></app-post> -->

<app-post-form></app-post-form>

<!-- Two way data binding-->
<!-- <input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyup()"> -->

<!-- one way data binding-->
<!-- <input type="text" [value]="textValue"  (keyup.enter)="onKeyup()"> > -->

<!-- Two way data binding-->
<!-- <input type="text" [(ngModel)]="textValue" (keyup.enter)="onKeyup()">  -->

<p>Fetchig object Array</p>
<button (click)="addData()">add Data</button>

<ul>
    <li *ngFor="let post of listofPost">{{ post.postName}}
      <span> <button (click)="deletePost(post)">delete</button></span> 
    </li>

</ul>

